<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StenBot Website</title>
  <!-- CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/eec71cc8e3.js" crossorigin="anonymous"></script>
  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
  <!-- Home -->
  <section id="home">
    <div class="container">
      <div class="home_inner_wapper">
        <h1 class="text-center">StenBot</h1>
      </div>
      <div class="home_inner_wapper">
        <h2 class="text-center">A Multipurpose Discord Bot</h2>
        <p class="text-center">
          StenBot is a Discord bot made for multiple purposes including tickets, moderation and just having fun. Use the links below to invite the bot to your server or check out the docs.
        </p>
      </div>
      <div class="home_inner_wapper btn_wapper">
        <div class="col-sm-6">
          <a href="https://sbinvite.benwhybrow.com/" class="btn col-xs-12 scroll_effect shadow-top-down" style="background-color: #7289DA; color: #fff;">
            <i id="fontawesome" class="fab fa-discord"></i> <i class="btn2">Add to Server</i></a>
        </div>
        <div class="col-sm-6">
          <a href="https://wiki.benwhybrow.com/" class="btn col-xs-12 scroll_effect shadow-top-down">
            <i id="fontawesome" class="fas fa-file-alt"></i> <i class="btn2">Wiki Site</i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 footer-copyright">
          <p>Made By <a href="https://discord.benwhybrow.com" target="blank">Stentorian</a> | Copyright &copy; 2021 <a href="https://benwhybrow.com" target="blank">Ben Whybrow</a></p>
          <p><a href="/privacy">Privacy Policy</a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- require plugins -->
  <script src="../assets/js/jquery-ui.min.js"></script>
  <script src="../assets/js/jquery-ui.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/jquery.parallax.js"></script>
</body>

</html>